GRPC_PORT=50052
APP_ENV=dev

JWT_SECRET=secret-key-2026

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_db

PG_DSN=postgres://postgres:postgres@auth_postgres:5432/auth_db?sslmode=disable